{% extends "backend/backlayout.html" %} {%block header%}
<script src="//cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% endblock%} {% block content%}
<div class="block">
  <div class="block-title">
    <h2><strong>เพิ่มบทความของคุณ</strong></h2>
  </div>
  {% for message in messages%}
  <p style="color: red">{{message}}</p>
  {% endfor %}

  <form
    action="{% url 'insertData' %}"
    method="post"
    enctype="multipart/form-data"
    class="form-horizontal form-bordered"
  >
    {% csrf_token %}
    <div class="form-group">
      <div class="col-md-6">
        <select name="filed" class="select-chosen" style="width: 250px">
          {% for filed in fileds %}
          <option value="{{filed.id}}">{{filed.filed}}</option>
          {% endfor %}
        </select>
      </div>
      <br /><br />
      <div class="col-md-6">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="ชื่อ"
        />
      </div>
      <div class="col-md-6">
        <select name="district" class="select-chosen" style="width: 250px">
          {% for district in districts %}
          <option value="{{district.id}}">{{district.district}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <select name="subdictrict" class="select-chosen" style="width: 250px">
          {%for subdictrict in subdictricts%}
          <option value="{{subdictrict.id}}">
            {{subdictrict.subdictrict}}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <textarea
          type="text"
          name="nationalID"
          rows="2"
          class="form-control"
          placeholder="เลขบัตรประชาชน"
        ></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <textarea
          type="text"
          name="address"
          rows="5"
          class="form-control"
          placeholder="ที่อยู่"
        ></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        id="age"
        name="age"
        class="form-control"
        placeholder="อายุ"
      />
    </div>
    <div class="col-md-6">
      <select name="ageRange" class="select-chosen" style="width: 250px">
        {% for ageRange in ageRanges %}
        <option value="{{ageRange.id}}">{{ageRange.ageRange}}</option>
        {% endfor %}
      </select>
    </div>
    <br /><br /><br /><br />
    <div class="col-md-6">
      <select name="gender" class="select-chosen" style="width: 250px">
        {% for gender in genders %}
        <option value="{{gender.id}}">{{gender.gender}}</option>
        {% endfor %}
      </select>
    </div>
    <br /><br />
    <div class="form-group">
      <div class="col-md-12">
        <textarea
          type="text"
          name="phonenumber"
          rows="5"
          class="form-control"
          placeholder="เบอร์โทรศัพท์"
        ></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <textarea
          type="text"
          name="email"
          rows="5"
          class="form-control"
          placeholder="อีเมล"
        ></textarea>
      </div>
    </div>
    <hr />
    <br />
    <div class="block-title">
      <h3><strong>สภาพที่อยู่อาศัย</strong></h3>
    </div>
    <div class="col-md-6">
      <select name="living" class="select-chosen" style="width: 250px">
        {% for living in livings %}
        <option value="{{living.id}}">{{living.living}}</option>
        {% endfor %}
      </select>
    </div>
    <hr />
    <br /><br />
    <div class="block-title">
      <h3><strong>ระดับการศึกษาสูงสุด</strong></h3>
    </div>
    <div class="col-md-6">
      <select name="level" class="select-chosen" style="width: 250px">
        {% for level in levels %}
        <option value="{{level.id}}">{{level.level}}</option>
        {% endfor %}
      </select>
    </div>
    <hr />
    <br /><br />
    <div class="block-title">
      <h3><strong>อาชีพ</strong></h3>
    </div>
    <div class="col-md-6">
      <select name="career" class="select-chosen" style="width: 250px">
        {% for career in careers %}
        <option value="{{career.id}}">{{career.career}}</option>
        {% endfor %}
      </select>
    </div>
    <br /><br /><br />
    <div class="block-title">
      <h3><strong>วัน/เดือน/ปี</strong></h3>
      <input type="date" id="date" name="date" />
    </div>
    <script>
      CKEDITOR.replace("content");
    </script>
    <div class="form-group">
      <div class="col-md-12">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-angle-right"></i>บันทึก
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
