<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    {% load static %} {% load humanize %}
    <title>DATA FORM</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="{% static 'backend/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'backend/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/css/themes.css' %}" />
    <script src="{% static 'backend/js/vendor/modernizr.min.js' %}"></script>
    {% block header%} {% endblock %}
  </head>
  <body>
    <div id="page-wrapper">
      <div
        id="page-container"
        class="sidebar-partial sidebar-visible-lg sidebar-no-animations"
      >
        <div id="sidebar">
          <div id="sidebar-scroll">
            <div class="sidebar-content">
              <a href="{% url 'panel' %}" class="sidebar-brand">
                <i class=""></i
                ><span class="sidebar-nav-mini-hide"
                  ><strong>DATA</strong>FORM</span
                >
              </a>
              <ul class="sidebar-nav">
                <a href="{% url 'panel2' %}" class="sidebar-brand">
                  <i class=""></i
                  ><span class="sidebar-nav-mini-hide"
                    ><strong>Second</strong>Form</span
                  >
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div id="main-container">
          <header class="navbar navbar-default">
            <ul class="nav navbar-nav-custom">
              <li>
                <a
                  href="javascript:void(0)"
                  onclick="App.sidebar('toggle-sidebar');this.blur();"
                >
                  <i class="fa fa-bars fa-fw"></i>
                </a>
              </li>
            </ul>
            <form
              action="page_ready_search_results.html"
              method="post"
              class="navbar-form-custom"
            >
              <div class="form-group">
                <input
                  type="text"
                  id="top-search"
                  name="top-search"
                  class="form-control"
                  placeholder="Search.."
                />
              </div>
            </form>
            <ul class="nav navbar-nav-custom pull-right">
              <li class="dropdown">
                <a
                  href="javascript:void(0)"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                >
                  <img
                    src="{% static 'backend/img/placeholders/avatars/avatar2.jpg' %}"
                    alt="avatar"
                  />
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                  <li class="dropdown-header text-center">บัญชีผู้ใช้</li>
                  <li class="divider"></li>
                  <li class="divider"></li>
                  <li>
                    <a href="{%url 'panel'%}" target="_blank">
                      <i class="fa fa-user fa-fw pull-right"></i>
                      ดูบทความของฉัน
                    </a>

                    <a href="/"
                      ><i class="fa fa-ban fa-fw pull-right"></i>
                      กลับสู่หน้าหลัก</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </header>
          <div id="page-content">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <a
                  href="{% url 'displayForm' %}"
                  class="widget widget-hover-effect1"
                >
                  <div class="widget-simple">
                    <div
                      class="widget-icon pull-left themed-background-autumn animation-fadeIn"
                    >
                      <i class="fa fa-file-text"></i>
                    </div>
                    <h3 class="widget-content animation-pullDown">
                      เพิ่ม<strong>ข้อมูล</strong>
                      <small>ของคุณที่นี่!</small>
                    </h3>
                  </div>
                </a>
              </div>
            </div>
            {% block content%} {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="{% static 'backend/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'backend/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'backend/js/plugins.js' %}"></script>
    <script src="{% static 'backend/js/app.js' %}"></script>
    <script src="{% static 'backend/js/pages/ecomProducts.js' %}"></script>
    <script>
      $(function () {
        EcomProducts.init();
      });
    </script>
  </body>
</html>
