{% extends 'layout.html'%}
{% block content %}
<br>
<div class="p-3 mb-2 bg-primary text-white">
<br>
<center><h2>System assistance application from department for data collector</h2><br>
        <h3>search</h3></center>
    <div class ="form-group">
        <label for = ""></label>
        <input type = "text" class = "form-control" name = "username"><br>
        <div class="form-row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-warning">search</button>
            </div>
         </div>
    </div>
</div>    
{% endblock %}